.footer {
  background: #222;
  color: #fff;
  padding: 40px 15px;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1000px;
  margin: auto;
}

.footer-section {
  flex: 1;
  min-width: 210px;
  margin: 15px;
  text-align: left;
}

.footer-section h3 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #ff9900;
}

.footer-section p, .footer-section ul {
  font-size: 18px;
  line-height: 1.6;
  color: #ddd;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  color: #ddd;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #ff9900;
}

.contact p {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.social-icons a {
  color: #fff;
  font-size: 20x;
  transition: color 0.3s ease, transform 0.2s ease;
}

.social-icons a:hover {
  color: #ff9900;
  transform: scale(1.1);
}

.footer-bottom {
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px solid #444;
  background: orange;
  font-size: 22px;
}

.footer-bottom p{
  text-align: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }
  
  .contact p {
    justify-content: center;
  }
}